.xarxes{
    background-color: yellow;
}

.angles{
    background-color: greenyellow;
}

.segu{
    background-color: pink;
}

.web2{
    background-color: blueviolet;
}

.bd{
    background-color: orange;
}

.tuto{
    background-color: grey;
}

.proj{
    background-color: moccasin;
}

.tutoria{
    background-color: blue;
}

.web{
    background-color: sienna;
}